<!DOCTYPE html>
<html lang="en">

<head>
    <title>About page</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">

        {{>header}}

        <img src="/img/Saanvi2_pic.jpeg" alt="myimage">
        <p> {{name}} </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eum voluptate laboriosam repellat
            voluptatem blanditiis commodi accusamus, tenetur nulla quidem deserunt sit dolorem voluptas ab rerum velit
            minima distinctio officiis eaque? Vero, repellendus quo molestias eveniet blanditiis in quia eius saepe quas
            quisquam iusto laboriosam aliquam. Rerum explicabo est tenetur quidem voluptas aperiam labore ipsam numquam,
            maxime nemo officia culpa aliquam repellat blanditiis architecto minima dolorem quasi, necessitatibus
            placeat cupiditate inventore modi fugit? Repellendus quibusdam iure impedit nemo similique omnis ex
            voluptates id debitis! Harum natus corporis reprehenderit molestiae est quas in maiores corrupti earum qui
            dolores sed unde itaque soluta minus, pariatur impedit dolor excepturi? Dicta tempore qui rerum eius soluta,
            cupiditate in ex odit illum cumque nihil modi accusantium odio doloremque doloribus quaerat animi cum
            praesentium repellat at nobis laboriosam non. Non, in omnis. Excepturi tenetur nihil tempora veniam minima
            voluptates nostrum! Provident sequi mollitia ex sunt dolores soluta alias magni officia, laudantium culpa
            unde earum veritatis reiciendis placeat at deleniti excepturi exercitationem, facere atque? Quidem eligendi
            sit reiciendis pariatur dolorum quam aliquam! Vel magnam eum sapiente placeat voluptatum est voluptatem. Non
            repellat nostrum aliquam, incidunt consequuntur neque perferendis! Quos voluptas, veritatis explicabo ipsam
            itaque iste? Adipisci, molestiae.
        </p>

    </div>

    {{>footer}}
</body>

</html>